<form action="encrypt" method="post">
  <input type="text" name="message">
  <input type="submit" name="encrypt">
</form>

<form action="decrypt" method="post">
  <input type="text" name="enc_message">
  <input type="submit" name="decrypt">
</form>