<!DOCTYPE html>
<html>
  <head>
    <title>Caesar Cipher</title>
  </head>
  <body>
	  <<h1>Caesar Cipher  </h1>	
    <!-- Use yield where you want content to get rendered -->
    <%= yield %>
  </body>
</html>